.parallax {

  .parallaxInner {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform .4s cubic-bezier(.125, .625, .125, .875);
    transform: perspective(512px) rotateX(0deg) rotateY(0deg);
  }
}
