@import "../../style/global";

.timeline {
  // Size
  width: 60px;
  height: 100vh;
  // Position
  position: sticky;
  top: 0;
  z-index: 10;
  // Content Alignment
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Animation
  opacity: 0;
  transform: translateX(-200px);
  transition: all .5s;
  will-change: opacity, transform;

  &.show {
    opacity: 1;
    transform: translateX(0);
  }

  .times {
    width: 100%;

    .time {
      // Size
      width: 100%;
      height: 6px;
      // Position
      margin: 2px;
      // Font
      color: white;
      font-size: 12px;
      text-align: center;
      // Shape
      cursor: pointer;
      border-radius: 0 6px 6px 0;
      border: 1px solid $accentColorDarken;
      border-left: none;
      background-color: $accentColor;
      // Animation
      transform: translateX(-25px);
      transition: all .2s;
      will-change: transform;

      &:hover {
        transform: translateX(-15px);
      }

      &:active {
        transform: translateX(-12px);
      }

      &.current {
        transform: translateX(-13px);
        border-color: $primaryColorDarken;
        background-color: $primaryColor;
      }
    }
  }

  .detailDot {
    // Position
    position: absolute;
    left: -2px;
    top: -2px;
    // Rect
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: $primaryColor;
    // Animation
    will-change: transform, opacity;
  }

  .detailArrow {
    // Position
    position: absolute;
    left: 0;
    top: 0;
    // Animation
    will-change: transform, opacity;

    .core {
      background-color: $primaryColor;
      text-align: left;

      // Content Alignment
      &:before, &:after {
        content: '';
        position: absolute;
        background-color: inherit;
      }

      // Size
      &, &:before, &:after {
        width: 8px;
        height: 8px;
      }

      // Transformation
      & {
        border-top-right-radius: 0;
        transform: rotate(90deg) skewX(-30deg) scale(1, .866);
      }

      &:before {
        border-top-right-radius: 0;
        transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
      }

      &:after {
        border-top-right-radius: 60%;
        transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
      }
    }
  }

  .detailBox {
    // Size
    min-width: 200px;
    //min-height: 200px;
    // Position
    position: absolute;
    left: 0;
    top: 65px;
    // Font
    color: rgba(255, 255, 255, 0.9);
    // Shape
    padding: 10px 20px;
    border-radius: 13px;
    //border: 1px solid $primaryColorDarken;
    background-color: $primaryColor;
    // Animation
    will-change: transform, opacity;
  }
}
